

body {
    margin: 0;
}

.hero {
    background-color: #4031B7;
}

.text-grey {
    color: #B6D2E3;
}

.navbar {
    background-color: #4031B7;
}



.nav-link {
    color: #B6D2E3 !important;
}

.reg {
    list-style-type: none;
}

.signup {
    border-radius: 50px;
    background-color: transparent;
    border-style: none;
    color: #B6D2E3;
    border: 1px solid #B6D2E3;
}

.intro-wrapper {
    padding-top: 100px;
    color: white;
}

.intro__title {
    font-size: 56px;
}

.demo-btn {
    border-radius: 50px;
    background-color: #60CBBE;
    border-style: none;
    color: white;
}

.service, .steps {
    padding-top: 100px;
}

.section__title {
    font-size: 36px;
}

.process__bg--blue {
    background-color: #4031B7;
    border-radius: 50%;
    width: 178px;
    height: 178px;
}

.process__title, .step__title {
    font-weight: 500;
    font-size: 20px;
}

.process__svg {
    width: 100%;
}

.steps {
    background-color: #FBFAF9;
}

.tender-board {
    padding-left: 40px;
    padding-right: 40px;
}

.step {
    width: 300px;
}

@media screen and (min-width: 992px) {
    .nav-item {
        margin-left: 30px;
    }
}